# The token you get from BotFather
TELEGRAM_BOT_TOKEN=

# The API key you get from Google AI Studio
GEMINI_API_KEY=

# The ID of the group or channel where the bot will send messages
TELEGRAM_CHANNEL_ID=

# API from SEITRACE / Make sure you have API PRO
SEITRACE_API_KEY=
